@use '../base/mixins';

:root {
  --footer_color: #CDD1D5;

}
.sr-only {
  @include mixins.sr-only;
}

.footer{
  position: relative;
  background: #333;
  a{
    color:var(--footer_color);
  }
  .copyright span{
    color:var(--footer_color);
  }
}

.footer .footer_logo{
  margin:20px 0;
}

.footer_related {
  border-top: 1px solid #CDD1D5;
  background: #fff;
  .ant-col .select_item .ant-select .ant-select-selector {
    border: none !important;
    border-left: 1px solid #CDD1D5 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }
  .ant-col:last-child .select_item .ant-select .ant-select-selector {
    border-right: 1px solid #CDD1D5 !important;
  }
  .ant-select-selection-placeholder {
    color: #1E2124 !important;
  }
  .ant-select-arrow {
    color: #1E2124 !important;
  }
}

.footer_corporate_info{
  justify-content: space-between;
  color:var(--footer_color);
  .address{
    font-weight: 700;
    color:var(--footer_color);
  }
  .info_txt span{
    color:var(--footer_color);
  }
  .info_link a{
    color:var(--footer_color);
  }
}

.footer_sns_link{
  justify-content: end;
  .sns_item {
    display: inline-block;
    width: 40px; 
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    span {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
    &.youtube {
      background-image: url(/img/ico_sns_youtube.png); 
    }
    &.instagram {
      background-image: url(/img/ico_sns_instagram.png); 
    }
    &.blog {
      background-image: url(/img/ico_sns_blog.png); 
    }
  }
}

