@use '../base/mixins';

:root {
  --footer-color: #1E2124;
}

.sr-only {
  @include mixins.sr-only;
}

.footer {
  position: relative;
  background: #EEF2F7;

  a {
    text-decoration: none;
    color: var(--footer-color);
  }

  .container {
    margin: 0 auto;
    padding:35px 0;

    @media (max-width: 1200px) {
      padding:10px 0;
    }
  }

  // 로고/SNS 상단 섹션
  .footer-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-logo-area {
      flex: 1;
    }
    .footer-sns-area {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: flex-start;
      .footer-sns-area { justify-content: flex-start; margin-top: 15px; }
    }
  }

  .footer-logo {
    img { max-height: 67px; display: block; }
  }

  // 주소/링크 중단 섹션
  .footer-corporate-info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
    color: var(--footer-color);

    .info-txt-area {
      flex: 1;
      .address {
        font-weight: 700;
        margin-bottom: 10px;
      }
      p { 
        font-size: 17px; 
        @media (max-width: 1200px) {
          font-size: 15px;
        }
      }
    }

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }

  // SNS 아이콘 공통
  .footer-sns-link {
    .sns-group { flex-direction: row; gap: 8px; }
    .sns-item {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      
      &.youtube { background-image: url(/fe/img/ico_sns_youtube.png); }
      &.instagram { background-image: url(/fe/img/ico_sns_instagram.png); }
      &.blog { background-image: url(/fe/img/ico_sns_blog.png); }
      &.kakao { background-image: url(/fe/img/ico_sns_kakao.png); }
      &.facebook { background-image: url(/fe/img/ico_sns_facebook.png); }
    }
  }

  // 최하단 정책 및 카피라이트
  .footer-meta-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #B1B8BE;

    .meta-links {
      display: flex;
      gap: 0;
      .meta-item {
        font-size: 15px;
        color: #1E2124;
        display: flex;
        align-items: center;
        font-weight: 700;

        @media (max-width: 900px) {
          font-size: 14px; 
        }

        &:not(:last-child):after {
          content: "";
          width: 1px;
          height: 12px;
          background: #CDD1D5;
          margin: 0 15px;
        }
        &.point-link {
          font-weight: 700;
        }
      }
    }

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
  }
}