* { box-sizing: border-box; }
html, body { height: 100%; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
body{font-family:'Pretendard GOV','Malgun Gothic','맑은 고딕','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:14px;font-weight:400;line-height:140%;color:var(--color-text-1);word-break:break-all;word-wrap:break-word;}
li{list-style:none} 
a{color:#1E2124;text-decoration:none;}
a:hover{color:#1E2124;}
h1{font-weight:normal;}h2{font-weight:normal;}h3{font-weight:normal;}h4{font-weight:normal;}h5{font-weight:normal;}h6{font-weight:normal;}
* {box-sizing:border-box;}

/* Pretendard GOV (Regular, Medium, SemiBold, Bold) */
@font-face {
  font-family: 'Pretendard GOV';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../../font/PretendardGOV-Regular.subset.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard GOV';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../../font/PretendardGOV-Medium.subset.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard GOV';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(../../font/PretendardGOV-SemiBold.subset.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard GOV';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../../font/PretendardGOV-Bold.subset.woff2) format('woff2');
}

