:root {

  --font-main: 'Pretendard', sans-serif;
  
  --container: 1200px;
  --container-full: 100%;

  --border: #e5e7eb;
  --muted: #6b7280;
  --bg: #ffffff;
  --primary: #2563eb;
  --danger: #BD2C0F;

  --btn-bg-1: #087C80; 
  --btn-bg-2: #414343; 

  --color-text-1: #1E2124; 
  --color-text-2: #087C80; 
  --color-text-3: #464C53; 

  --border-1: #8A949E;
  --border-2: #D8D8D8;
  
  --placeholder: #8A949E;

}
