@use '../base/mixins';

.form-item {
  margin:0 0 5px 0;
  &:not(:first-of-type) {
    margin-top: 20px;
  }
  .label{
    display: block;
    font-size: var(--fs-16);
    font-weight: var(--fw-700);
    margin:0 0 5px 0;
    .optional{
      font-weight: var(--fw-400);
    }
    .necessary{
      color: var(--danger);
      font-weight: var(--fw-400);
    }
  }
}

/* 가로 배치를 위한 공통 플렉스 컨테이너 */
.flex-container {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px; 
  &:first-of-type {
    margin-top: 0;
  }

  .form-item {
    flex: 1;
    min-width: 0;
    margin-top: 0 !important;
  }

  /* 2등분, 3등분, 4등분 공통*/
  &.flex-half, &.col-3, &.col-4 {
    .form-item {
      flex: 1;
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 12px;
    
    &.flex-half, &.col-3, &.col-4 {
      .form-item {
        width: 100%; /* 너비를 꽉 채움 */
        flex: none;  /* flex-grow 방해 방지 (선택사항) */
      }
    }

    .form-item {
      width: 100%; /* 일반 form-item도 꽉 차게 */
      margin-top: 0 !important;
    }
    
    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }
}

// 로그인 아이디 로그인
.page-content__login {
  display: flex;
  align-items: stretch; 

  .login-section__form {
    flex: 1;
    width: 100%;
    padding:0 30px 0 0;
  }

  .login-section__notice {
    flex: 1;
    width: 100%;
    padding:0 0 0 30px;
    border-left:1px solid #D8D8D8;
  }

  .login-actions{
    margin:24px 0;
  }

  .account-utils {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8px; // mt: 1
    padding: 0 !important; // p: 0

    &__item {
      width: auto !important;
    }

    &__link {
      padding: 0 8px; // px: 1
      cursor: pointer;
      font-size: var(--fs-16);
      color: var(--color-text-1); 
      text-decoration: none;
      background: none;
      border: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__divider {
      margin: 0 4px !important; // mx: 0.5
      height: 12px !important;
      align-self: center;
      border-color: #CDD1D5; // 기본 구분선 색상
    }
  }

  @media (max-width: 1023px) {
    flex-direction: column;

    .login-section__form {
      padding:0 ;
    }
    .login-section__notice {
      margin:24px 0 0 0; 
      padding:24px 0 0 0 ;
      border:none;
      border-top:1px solid #D8D8D8;
    } 
  }
}

// 아이디비번찾기
.member-page{max-width: 842px;margin:0 auto}
.pageCont-idPwFind {
  .guide-text {
    margin:0 0 40px 0;
    text-align: center;
    font-size: var(--fs-32); 
    font-weight: 700;
  }
  .AnyID-area{margin:0 0 40px 0;}
  .caution-area{
    padding:16px 24px;
    background:#EEF2F7;
    border-radius: 12px;
    .caution-title{
      position: relative;
      padding:0 0 0 25px;
      font-size: var(--fs-17);  
      font-weight: 700;
      margin-bottom:12px;
      &::before {
        content:"";
        display:block;
        position: absolute;
        left: 0;
        top: 2px;
        width:20px;
        height: 20px;
        background: url(/img/ico_exclamation_circle.svg) no-repeat center center;
      }
    }
    .caution-list{
      padding:0 0 0 25px; 
      @include mixins.bullet_list;
    }
  }
  .id-find-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 0 40px 0;
    padding:45px;
    text-align: center;
    font-size: var(--fs-20);
    font-weight: 700;
    line-height: 150%;
    background: #EEF2F7;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 700;
  }
  .login-actions{
    max-width: 500px;
    margin:0 auto;
  }
  .find-recovery {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:40px 0 0 0;
    padding:25px 0 0 0;
    border-top:1px solid #D8D8D8;
    .txt{
      font-size: var(--fs-18);
      font-weight: var(--fw-700);
    }
    .btn-link{
      color: var(--color-text-1);
    }
  }
  
  @media (max-width: 991px) { 
    .find-recovery{
      flex-direction: column;
    }
  }
}

// 회원가입
.pageCont-joinType{
  // 회원가입 단계
  .step-progress{
    .step-label{
      font-size: var(--fs-13);
      color: var(--color-text-1);
    }
    .step-description{
      font-size: var(--fs-15);
      font-weight: var(--fw-700);
      color: var(--color-text-5);
      margin-top: 4px;
    }
  }
  // 단계 제목
  .step-header{
    .step-title{
      display: block;
      margin:0 0 24px 0;
      font-size: var(--fs-18);
      font-weight: var(--fw-700);
      margin: 30px 0 10px 0;

      .step-current{
        color: var(--color-text-2);
      }
    }
    .step-description {
      margin:0 0 30px 0;
      .step-description-text{
        font-size: var(--fs-32);
        font-weight: var(--fw-700);
      }
    }

   @media (max-width: 1023px) {
      .step-description {
        margin-bottom: 20px;
      }
    }
  }
  // 회원가입 회원 유형 선택
  .member-type-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    
    .member-type-card {
      flex: 0 0 calc(50% - 10px); /* gap 절감 */
      max-width: calc(50% - 10px); 
      cursor: pointer;
      border:none;

      /* 카드 변형 (배경 이미지) */
      &--general .member-type-card__link {
        background: url(/img/img_user_general.png) no-repeat center bottom 40px;
      }

      &--junior .member-type-card__link {
        background: url(/img/img_user_junior.png) no-repeat center bottom 40px;
      }

      /* 카드 내부 컨테이너 */
      &__link {
        display: block;
        position: relative;
        width: 100%;  
        max-width: none;
        height: 268px;
        padding: 28px;
        border: 1px solid var(--border-2);
        border-radius: 10px;
        background-color: #fff;

        &:hover {
          border-width: 3px;
          border-color: var(--border-3);
        }
      }

      /* 텍스트 + 버튼 묶음 */
      &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }

      /* 타이틀 + 설명 영역 */
      &__text {
        margin-bottom: auto;
      }

      &__title {
        display: block;
        font-size: var(--fs-24);
        font-weight: var(--fw-700);
        margin-bottom: 16px;
        color: var(--color-text-1);
      }

      &__description {
        font-size: var(--fs-16);
        color: var(--color-text-1);
        line-height: 1.4;
      }

      /* 가입 버튼 */
      &__action {
        display: inline-flex !important;
        position: absolute;
        right: 28px;
        bottom: 28px;
        display: inline-block;
        font-size: var(--fs-15);
        font-weight: var(--fw-600);
        color: var(--color-primary);
        padding:0;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .member-type-list {
      flex-direction: column;
      gap: 16px;

      .member-type-card {
        max-width: 100%;
      }
    }
  }
}

// 회원가입 - 약관동의
.agree-terms {
  padding: 30px 30px;
  border-radius: 10px;
  border: 1px solid var(--border-2);
  background: #FFF;

  .all-agree {
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid var(--border-2);
    .label {
      display: block;
      font-size: var(--fs-20);
      font-weight: var(--fw-700);
    }
  }
  
  .terms-list {
    .terms-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px; // 체크박스와 버튼 사이 간격 확보

      .terms-checkbox {
        flex: 1; // 텍스트 영역 유연하게 확장
      }

      .terms-link {
        font-size: var(--fs-20);
        margin-right: 8px;
      }
      .optional {
        font-size: var(--fs-20);
      }
      .required {
        font-size: var(--fs-20);
        color: var(--danger);
      }

      .btn_terms_view {
        flex-shrink: 0; // 버튼 크기 고정
        background: none;
        border: none;
        color: var(--color-text-1);
        font-size: var(--fs-15);
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .terms_item + .terms_item {
      margin-top: 16px;
    }
  }

  @media (max-width: 768px) {
    padding: 30px 24px;

    .terms_list {
      .terms_item + .terms_item {
        margin-top: 14px;
      }
    }
  }

  @media (max-width: 576px) {
    padding: 20px 16px;

    .terms_list {
      .terms_item {
        align-items: flex-start;
        
        .btn_terms_view {
          margin-top: 4px;
        }
      }
      .terms_item + .terms_item {
        margin-top: 12px;
      }
    }
  }
}

