

div.term h3 {margin: 15px 0;color:#333; font-size:18px; font-weight:600}
div.term h4 {position: relative; padding-bottom:12px; padding-left:11px; color:#355ab2; /* background:url(../../../../../../images/egovframework/iwt/ds/ko/cmm/ico/bu_h4.png) no-repeat 0 5px; */}
div.term h4:before {content: ''; position: absolute; top: 0px; left: 0px; width: 5px; margin-top: 5px; height: 5px; background: #355ab2;}
div.term ul, div.term p, div.term ol {padding-bottom:20px;line-height:1.5em}
div.term ul ul {padding-top:5px;padding-left:15px;}
