/* 공통 Swiper 스타일 */
.swiper-button-next, .swiper-button-prev {
  &::after { display: none !important; }
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent !important;
}
.swiper-button-prev { background-image: url('/img/btn_swiper_prev.png') !important; }
.swiper-button-next { background-image: url('/img/btn_swiper_next.png') !important; }
.swiper-button-disabled { opacity: 0.3 !important; cursor: default; pointer-events: none; }

/* 메인 컨테이너 */
.main-container {
  .inner {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 56px 20px;
  }

  .section-title {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 24px 0;
    padding-left: 15px;
    z-index: 1;

    span { color: #087C80; }

    &::before {
      content: "";
      position: absolute;
      top: -10px; 
      left: -5px;
      width: 60px;
      height: 60px;
      background-color: #76D2D5;
      opacity: 0.3;
      border-radius: 50%;
      z-index: -1;
    }
  }

  /* Section 01 */
  .section-01 {
    position: relative;
    height: 452px;
    background: url(/img/main_bg01.png) no-repeat center center;
    background-size: cover;

    .slogan-title {
      font-size: 40px;
      font-weight: 700;
      color: #33363D;
      span { color: #087C80; }
    }

    .slogan-desc {
      margin: 10px 0 0 0;
      color: #33363D;
      font-size: 20px;
      line-height: 1.4;
    }

    .promotion-banner {
      position: absolute;
      right: 0;
      top: 0;
      width: 453px;
      height: 494px;

      .banner-control-box {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        display: flex;
        align-items: center;
      }

      .banner-control-btn {
        color: #ffffff !important;
        background-color: rgba(0, 0, 0, 0.3) !important;
        &:hover { background-color: rgba(0, 0, 0, 0.5) !important; }
      }

      .swiper-pagination-fraction {
        color: #fff;
        bottom: 20px;
      }
    }
  }

  /* Section 02 */
  .section-02 {
    position: relative;

    .service-banner{
      padding:0 50px;
    }
    
    .service-swiper {
      padding: 20px 5px 50px 5px;
    }

    .swiper-button-next{
      right:20px;
     }
     .swiper-button-prev {
      left:20px;
     }

    .shortcut-item {
      display: flex;
      flex-direction: column;
      height: 120px; 
      padding: 20px;
      background-color: #ffffff;
      border-radius: 8px;
      text-decoration: none;
      transition: transform 0.2s ease-in-out;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

      &:hover {
        transform: translateY(-5px);
      }

      .icon-bg {
        position: absolute;
        left:20px;
        bottom:20px;
        width: 26px;
        height: 31px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 32px; 
      }

      .shortcut-text {
        color: #464C53;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
      }

      .shortcut-link-box{
        position: absolute;
        right:20px;
        bottom:20px;
        display: flex;
        align-items: center;
        .shortcut-icon {
          font-size: 18px;
          color:#464C53;
        }
  
        .shortcut-link-text {
          display: inline-block;
          margin-right:10px;
          font-size: 14px;
          font-weight: 400;
          color:#464C53;
        }
      }
    }
  }

}