/* 공통 Swiper 스타일 */
.swiper-button-next,
.swiper-button-prev {
  &::after { display: none !important; }
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent !important;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  z-index: 3;
}

.swiper-button-prev { background-image: url('/img/btn_swiper_prev.png') !important; }
.swiper-button-next { background-image: url('/img/btn_swiper_next.png') !important; }

.swiper-button-prev,
.swiper-button-next {
  background-size: contain;
  background-repeat: no-repeat;

  &:focus-visible {
    outline: 1px solid var(--color-text-2);
    outline-offset: 1px;
  }
}

.swiper-button-disabled { 
  opacity: 0.3 !important; 
  cursor: default; 
  pointer-events: none; 
}

.play-control {
  .btn-play-pause {
    width: 40px;
    height: 40px;
    min-width: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid #CDD1D5;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: transparent !important;
    }

    svg {
      font-size: 20px;
      display: block;
    }
  }
}

/* ====================
  메인 컨테이너 및 공통
====================*/
.main-container {
  .inner {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 56px 20px;
  }

  .section-title {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 24px 0;
    padding-left: 15px;
    z-index: 1;

    span { color: #087C80; }

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -5px;
      width: 60px;
      height: 60px;
      background-color: #76D2D5;
      opacity: 0.3;
      border-radius: 50%;
      z-index: -1;
    }
  }

  /* ====================
    Section 01 : 메인 비주얼/프로모션
  ====================*/
  .main-promotion-section {
    position: relative;
    height: 452px;
    background: url(/img/main_bg01.png) no-repeat center center;
    background-size: cover;

    .slogan-title {
      font-size: 40px;
      font-weight: 700;
      color: #33363D;
      span { color: #087C80; }
    }

    .slogan-desc {
      margin: 10px 0 0 0;
      color: #33363D;
      font-size: 20px;
      line-height: 1.4;
      font-weight: 500;
    }

    .promotion-area {
      position: absolute;
      right: 0;
      top: 28px;
      width: 455px;
      height: 495px;

      .promotion-swiper {
        width: 100%;
        height: 420px;
        box-shadow: 4px 4px 14px 0 rgba(110, 118, 130, 0.25);
        border-radius: 30px 30px 0 0;
        overflow: hidden;
        //-webkit-mask-image: -webkit-radial-gradient(white, black);

        .slide-item {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: inherit;
        }
      }

      .pagination-wrapper {
        width: 100%;
        height: 78px;
        padding: 0 20px;
        border-radius: 0 0 20px 20px;
        background: #FFF;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        position: absolute;
        // bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        display: flex;
        align-items: center;
        //justify-content: center;
        gap: 2px;

        .swiper-tag {
          font-size: 18px;
          font-weight: 600;
        }
      }

      .promotion-pagination {
        position: relative !important;
        width: fit-content !important;
        inset: auto !important;
        color: #000000;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        display: none;
      }

      .play-control {
        position: absolute;
        top: auto;
        bottom: 20px;
        right: 104px;
        display: flex;
        align-items: center;
      }

      .swiper-nav-group {
        .swiper-button-prev {
          left: auto;
          right: 62px;
        }
        .swiper-button-next {
          left: auto;
          right: 20px;
        }
      }
    }
  }

  /* ====================
    Section 02 : 주요 서비스 바로가기
  ====================*/
  .main-service-section {
    position: relative;

    .service-area {
      position: relative;
      padding: 0 50px;
    }

    .service-swiper {
      padding: 20px 5px 10px 5px;
    }

    .pagination-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      margin-top: 25px;
      width: 100%;

      .service-pagination {
        position: relative !important;
        width: fit-content !important;
        inset: auto !important;
        display: flex !important;
        align-items: center;
        margin: 0 !important;
        padding: 0;

        /* Swiper 도트 스타일 */
        [class*="swiper-pagination-bullet"] {
          width: 10px;
          height: 10px;
          background: #D9D9D9;
          opacity: 1;
          margin: 0 5px !important;
          transition: all 0.3s;
          cursor: pointer;
          border-radius: 50%;
          border: none;

          &[class*="swiper-pagination-bullet-active"] {
            background: var(--color-text-2) !important;
            width: 25px;
            border-radius: 5px;
          }
        }
      }

      .play-control {
        display: flex;
        align-items: center;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      top: 50%;
      margin-top: -35px;
      width: 40px;
      height: 40px;
      border-radius: 50% !important;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      outline: none;
      border: none;
      z-index: 3;

      &::after {
        display: none !important;
      }
    }

    .swiper-button-prev { left: 0; }
    .swiper-button-next { right: 0; }

    .shortcut-item {
      display: flex;
      flex-direction: column;
      height: 120px;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 8px;
      text-decoration: none;
      transition: transform 0.2s ease-in-out;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      position: relative;

      &:hover {
        transform: translateY(-5px);
      }

      .icon-bg {
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: 26px;
        height: 31px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 32px;
      }

      .shortcut-text {
        color: #464C53;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
      }

      .shortcut-link-box {
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: flex;
        align-items: center;

        .shortcut-icon { font-size: 18px; color: #464C53; }
        .shortcut-link-text {
          display: inline-block;
          margin-right: 10px;
          font-size: 14px;
          font-weight: 400;
          color: #464C53;
        }
      }
    }

    @media (max-width: 1023px) {
      .service-area { padding: 0 15px; }
      .pagination-wrapper { margin-top: 20px; gap: 8px; }
      .swiper-button-next, .swiper-button-prev { display: none; }

      .shortcut-item {
        height: 100px;
        padding: 15px;
        .shortcut-text { font-size: 16px; }
        .icon-bg { width: 22px; height: 26px; left: 15px; bottom: 15px; }
      }
    }
  }

  /* ====================
    Section 03 : SNS 영역
  ====================*/
  .main-sns-section {
    position: relative;
    background: #e5f4ff;

    .section-title {
      text-align: center;

      span {
        position: relative;
        color: #087c80;
        margin-left: 8px;
        z-index: 1;

        &::before {
          content: "";
          position: absolute;
          top: -5px;
          right: -10px;
          z-index: -1;
          width: 50px;
          height: 50px;
          background-color: #76d2d5;
          border-radius: 50%;
          opacity: 0.3;
        }
      }
      &::before { content: normal; }
    }

    .sns-area{
      /* 탭 스타일 */
      .sns-tabs {
        margin-bottom: 25px;

        .MuiTab-root {
          padding: 10px 20px;
          font-size: 17px;
          font-weight: 700;
          color: #464C53;
          border-radius: 50px;
          min-height: auto;
          position: relative;
          transition: all 0.2s;

          // 🔥 아이콘 설정 (Mask 방식)
          &::before {
            content: "";
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background-color: #464C53;
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            display: none;
          }

          // 2. 아이콘이 필요한 탭만 패딩 조정 및 아이콘 표시
          &.tab-youtube, &.tab-insta, &.tab-blog {
            padding: 10px 45px 10px 20px; // 우측 아이콘 공간 확보
            &::before { display: block; }
          }

          &.tab-youtube::before { 
            -webkit-mask-image: url('/img/tab_ico_youtube.svg'); 
            mask-image: url('/img/tab_ico_youtube.svg'); 
          }
          &.tab-insta::before { 
            -webkit-mask-image: url('/img/tab_ico_instagram.svg'); 
            mask-image: url('/img/tab_ico_instagram.svg'); 
          }
          &.tab-blog::before { 
            -webkit-mask-image: url('/img/tab_ico_blog.svg'); 
            mask-image: url('/img/tab_ico_blog.svg'); 
          }

          &.Mui-selected {
            border: none;
            color: #fff;
            background: #087c80;

            &::before {
              background-color: #fff;
            }
          }
        }
      }

      .sns-banner {
        position: relative;

        .sns-swiper {
          // 2줄 배치를 위해 높이 지정 필수
          height: 490px;

          .swiper-wrapper {
            box-sizing: border-box;
          }

          .swiper-slide {
            // 2줄 배치를 위해 높이를 약 50%로 계산
            height: calc((100% - 20px) / 2) !important;
            display: flex;
          }
        }
      }

      /* 페이지네이션 & 재생버튼 */
      .pagination-wrapper {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 2px;
        margin-top: 30px;
        padding: 0 82px 0 0;

        .sns-pagination {
          width: auto;
          bottom: 0 !important;
          position: relative;
          border: 1px solid #CDD1D5;
          background: #FFF;
          padding: 7px 14px;
          border-radius: 100px;
        }
      }

      /* 좌우 내비게이션 화살표 */
      .swiper-nav-group {
        .swiper-button-prev,
        .swiper-button-next {
          width: 40px;
          height: 40px;
          background: #fff;
          border-radius: 50%;
          color: #087c80;
        }

        .swiper-button-prev {
          top: auto;
          left: auto;
          bottom: 0;
          right: 42px;
        }
        .swiper-button-next {
          top: auto;
          left: auto;
          bottom: 0;
          right: 0px;
        }
      }


      .sns-card { 
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 12px;
        border: 1px solid #B1B8BE;

        .MuiCardContent-root {
          padding: 32px !important;
          height: 100%;
        }

        .sns-link {
          display: flex;
          height: 100%;
          text-decoration: none;
          color: inherit;

          /* 썸네일 영역 */
          .thumb-area {
            flex: 0 0 200px;
            height: 100%;
            overflow: hidden;
            background: #f4f4f4;
            border-radius: 10px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: transform 0.3s;
            }
          }

          /* 정보 영역 */
          .info-area {
            flex: 1;
            padding: 0 0 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;

            .sns-title {
              font-weight: 700;
              font-size: 19px;
              color: #464C53;;
              margin-bottom: 5px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .sns-desc {
              font-size: 17px;
              color: #464C53;;
              line-height: 1.4;
              /* 내용 2줄 말줄임 */
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              margin-bottom: 10px;
            }

            /* 카테고리 라벨 */
            .sns-label {
              display: inline-block;
              width: fit-content;
              padding: 2px 10px;
              border-radius: 4px;
              font-size: 15px;
              font-weight: 600;
              background: #f0f0f0; 
              color: #666;

              &.youtube { background: #EEF2F7; color: #052B57; }
              &.insta { background: #fce4ec; color: #BD2C0F; }
              &.blog { background: #EAF6EC; color: #267337; }
            }
          }

          &:hover {
            .thumb-area img { transform: scale(1.1); }
            .sns-title { color: #087c80; }
          }
        }
      }

      /* 기타 탭 리스트 스타일 */
      .sns-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        
        .sns-card {
          width: 100%;
          height:234px;
          display: flex;
          flex-direction: column;
        }
      }

      /* 접근성용 클래스 */
      .blind {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
      }
    }
  }

  
  /* ====================
    Section 04 : 소식 및 카드뉴스
  ====================*/
  .main-board-section {
    .inner {
      display: flex;
      gap: 40px;
      align-items: flex-start;

      > div {
        flex: 1;
        min-width: 0;
      }

      .news-area {
        
      }

      .card-news-area {
        
      }
    }
  }

  /* 모바일 대응: 화면이 좁아지면 위아래로 배치 */
  @media (max-width: 1024px) {
    .section-04 {
      .inner {
        flex-direction: column; // 세로 배치로 변경
        gap: 60px;
        
        > div {
          width: 100%; // 모바일에서는 전체 너비 사용
        }
      }
    }
  }

}
