* { box-sizing: border-box; }
html, body { height: 100%; }
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, blockquote, fieldset, legend { margin: 0; padding: 0; }
li { list-style: none; }
body { font-family: 'Pretendard GOV', 'Pretendard', -apple-system, sans-serif; font-size: 14px; color: var(--color-text-1); line-height: 1.5; word-break: keep-all; }
a { color: inherit; text-decoration: none; }
a:hover { color: inherit; }
h1{font-weight:normal;}h2{font-weight:normal;}h3{font-weight:normal;}h4{font-weight:normal;}h5{font-weight:normal;}h6{font-weight:normal;}

/* Pretendard GOV (Regular, Medium, SemiBold, Bold) */
@font-face {
  font-family: 'Pretendard GOV';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../../font/PretendardGOV-Regular.subset.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard GOV';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../../font/PretendardGOV-Medium.subset.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard GOV';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(../../font/PretendardGOV-SemiBold.subset.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard GOV';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../../font/PretendardGOV-Bold.subset.woff2) format('woff2');
}

