@use '../base/mixins';

:root {
  --footer_color: #CDD1D5;

}
.sr_only {
  @include mixins.sr_only;
}

.footer{
  position: relative;
  background: #333;
  a{
    text-decoration: none;
    color:var(--footer_color);
  }
}

.footer .footer_logo{
  margin:20px 0;
}

.footer_related {
  border-top: 1px solid #CDD1D5;
  background: #fff;

  // 스크린 리더 전용 (화면에서 숨김)
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .related_grid_container {
    display: flex;
    flex-wrap: wrap;
    
  }

  .related_grid_item {
    width: 50%;
    @media (min-width: 600px) { width: 50%; }

    .MuiOutlinedInput-notchedOutline {
      border: none !important;
    }

    .MuiOutlinedInput-root {
      border-left: 1px solid #CDD1D5 !important;
      border-radius: 0 !important;
      height: 40px;
      background-color: #fff;
      transition: background-color 0.2s, box-shadow 0.2s;

      // [웹 접근성] 탭 키 이동 시 포커스 스타일
      &.Mui-focused {
        background-color: #f0f7ff; 
        // 포커스 시 테두리 강조 (선택 사항)
        outline: 2px solid var(--border-3);
        outline-offset: -2px;
        z-index: 2;
      }
      legend { display: none; }
    }

    &:last-child .MuiOutlinedInput-root {
      border-right: 1px solid #CDD1D5 !important;
    }
  }

  .MuiSelect-select {
    padding-left: 12px !important;
    color: #1E2124 !important;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .MuiSelect-icon {
    color: #1E2124 !important;
  }
}

.footer_corporate_info{
  display: flex;
  justify-content: space-between;
  color:var(--footer_color);
  margin:0 0 50px 0;
  .address{
    font-weight: 700;
    color:var(--footer_color);
  }
  .info_txt span{
    color:var(--footer_color);
  }
  .info_link a{
    color:var(--footer_color);
  }
}

.footer_sns_link{
  display: flex;
  justify-content: end;
  .sns_group{
    display: flex;
    flex-direction: row; 
    gap: 8px;           
    align-items: center;
  }
  .sns_item {
    display: inline-block;
    width: 40px; 
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    span {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
    &.youtube {
      background-image: url(/img/ico_sns_youtube.png); 
    }
    &.instagram {
      background-image: url(/img/ico_sns_instagram.png); 
    }
    &.blog {
      background-image: url(/img/ico_sns_blog.png); 
    }
  }
}


.footer_meta_info {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-wrap: wrap; 
  gap: 16px;
  padding: 20px 0;

  .meta_links {
    display: flex;
    align-items: center;
    gap: 12px; 

    .meta_item {
      font-size: 14px;
      color: #666;
      text-decoration: none;
      display: flex;
      align-items: center;

      // 링크 사이의 구분선 
      &:not(:last-child):after {
        content: "";
        display: inline-block;
        width: 1px;
        height: 12px;
        background-color: #000000;
        margin: 0 12px;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }

  .copyright {
    .MuiTypography-root {
      font-size: 15px;
      color: var(--color-text-4);
      line-height: 1;
    }
  }

  // 모바일 대응: 화면이 좁아지면 아래위로 배치
  @media (max-width: 900px) {
    flex-direction: column;
    align-items: flex-start;
    
    .meta_links {
      flex-wrap: wrap;
      row-gap: 8px;
    }
  }
}
