@use '../base/mixins';

// 공통 변수나 믹스인이 있다면 활용하는 것이 좋지만, 
// 우선은 주신 코드를 바탕으로 구조를 최적화했습니다.

.header {
  position: relative;

  // 정부 배지 영역
  .gov-badge {
    display: flex;
    align-items: center;
    height: 32px;
    background-color: #eef2f7;

    .txt {
      padding-left: 30px;
      color: var(--color-text-1);
      background: url(/img/ico_flag_ko.png) no-repeat left center;
    }
  }

  // 상단 바
  .header-topbar {
    display: flex;
    align-items: center;
    height: 46px;
    background-color: #ffffff;

    .container {
      display: flex;
      align-items: center;
    }

    .top-link {
      margin-left: auto;
      display: flex;
      align-items: center;
      button{
        color: var(--color-text-1);
      }
    }

    .timer_box{
      .time_text{
        font-size: 16px;
        color: var(--color-text-2);
        margin:0 10px 0 0;
        padding:0 0 0 20px;
        background: url('/img/ico_time.svg') no-repeat left center;
      }
      .btn_extend{
        color: var(--color-text-1);
        font-size: 16px;
      }
    }
  }

  // 로고, 유틸메뉴
  .header_menu {
    position: relative;
    display: flex;
    align-items: center;
    height: 82px;
    background-color: #fff;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;

    .container {
      display: flex;
      align-items: center;

      .util-menu {
        margin-left: auto;
        display: flex;
        align-items: center;

        .btn-util {
          display: inline-flex;
          align-items: center;
          gap: 4px;
          position: relative;
          color:#1E2124;
          font-size: 18px;
          font-weight: 700;
        }

        /* 아이콘을 위한 가상 요소 공통 설정 */
        .btn-util::before {
          content: '';
          display: inline-block;
          width: 20px; 
          height: 20px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        .btn-util.search::before {
          background-image: url('/img/ico_search.svg');
        }

        .btn-util.signup::before {
          background-image: url('/img/ico_signup.svg');
        }

         .btn-util.edit-profile::before {
          background-image: url('/img/ico_edit_profile.svg');
        }

        .btn-util.user-reg::before {
          background-image: url('/img/ico_usrSwtReg.svg');
        }

        .btn-util.login::before {
          background-image: url('/img/ico_login.svg');
        }

        .btn-util.logout::before {
          background-image: url('/img/ico_login.svg');
        }

        /* (선택) 호버 시 아이콘 색상 변경이 필요하다면 별도 처리 */
        .btn-util:hover {
          background-color: transparent;
        }
      }
    }
  }
  .gnb{
    display: flex;
    align-items: center;
    height:66px;
    border-bottom: 1px solid #d8d8d8;}
}