.layout-full{
  width: 100%;
  .app-main,
  .container{
    position: relative;
    width:100%;
    padding:0 10px;
  }

  .sub-container{
    width:100%;
    padding-left:300px;
    transition: padding-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    .container{
      min-width:100%;
      width:100%;
    }
    .content-wrap{
      width:100%;
      gap: 0;
      padding:0 20px 0 0;
    }
  }
}

.layout-full .page-layout.is-collapsed{
  .sub-container{
      padding-left:90px;
    }
}

.side-nav .nav_title {
  font-size:var(--fs-24);
  font-weight: 700;
}

.welcome-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 0 30px 0;
  padding: 5px 20px;
  background-color: #CDD1D5;
  border-radius: 20px;
  min-height: 32px;

  &__message {
    font-size: 14px;
    color: #464C53;
    text-align: center;
    padding: 0 30px;

    .user-name {
      font-weight: 700;
    }
  }

  .btn-close {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    color: #555;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}