@use '../base/mixins';

// 1. 레이아웃 컨테이너
.container-full {
  width: 100%;
}

.container {
  width: min(1200px, calc(100% - 30px));
  margin: 0 auto;
}

.sub-container {
  width: 100%;
  padding: 30px 0;

  .content-wrap {
    @include mixins.container;
    display: flex;
    gap: 46px;
    align-items: stretch;
  }

  @media (max-width: 1200px) {
    padding: 15px;
    .content-wrap {
      gap: 0px;
    }
  }
}

// 2. LNB (Left Navigation Bar) 영역
.lnb-wrap {
  flex: 0 0 246px;
  transition: flex 0.2s ease;

  @media (max-width: 1200px) {
    display: none;
  }

  // LNB 축소 상태
  &:has(.ant-menu-inline-collapsed) {
    flex: 0 0 80px;
  }
}

.lnb-menu {
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  // LNB 타이틀 영역
  .lnb-tit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 105px;
    background: #087C80 url(/img/bg_lnb-title.png) no-repeat center center;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    overflow: hidden;

    .btn_toggle {
      margin-left: 10px;
      color: #fff !important;
      font-size: 32px !important;
      cursor: pointer;
    }

    // LNB 축소 시 타이틀 처리
    .lnb-wrap:has(.ant-menu-inline-collapsed) & {
      font-size: 0 !important;
      .btn_toggle { margin: 0 !important; }
    }
  }

  // LNB 리스트/메뉴 영역
  .lnb-list {
    flex: 1;
    margin-top: -10px;
    padding: 15px;
    background: #FFF;
    border: 1px solid var(--border-1);
    border-radius: 10px;
    transition: all 0.2s;
  }
}

// 3. 메인 콘텐츠 영역
.sub-content {
  flex: 1;
  min-width: 0;

  .content-view {
    min-height: 500px;
  }
}

// 4. 로케이션 & 페이지 경로
.location {
  margin-bottom: 40px;

  .local {
    margin-bottom: 36px;
    .home {
      padding-left: 20px;
      background: url('/img/ico_home.svg') no-repeat left center;
    }
  }

  .page_path {
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-2);

    .tit {
      display: block;
      color: var(--color-text-1);
      font-size: 40px;
      font-weight: 700;
      line-height: 1;
    }
  }
}